@use "./src/scss/abstracts/colors.scss" as *;

/*link styling*/
/*overflow ellipse on text*/
.left {
  justify-content: flex-start;
}
.heading {
  display: flex;
  justify-content: center;
  color: $white;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}
.channelsAndPrograms {
  display: flex;
  flex-direction: column;
  gap: 30px;

  align-items: center;
  justify-content: center;
}
.channelsAndPrograms-row {
  display: flex;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;

}

/*channel /program container*/
.card {
  background-color: $white;
  padding: 16px 32px;
  height: 15em;
  width: 20em;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 40px;
  align-items: center;

}

.image:nth-of-type(1) {
  display: flex;
  z-index: -1;
  width: 5em;
  height: 5em;
}
.text {
  max-width: 15em;
}
