@use "./src/scss/abstracts/colors.scss" as *;

/*link styling*/
/*overflow ellipse on text*/

.heading {
  display: flex;
  justify-content: center;
  color: $white;
  font-family: "Inter", sans-serif;
}
.channelsAndPrograms {
  display: flex;
  flex-direction: column;
  gap: 30px;

  align-items: center;
  justify-content: center;
}
.channelsAndPrograms-row {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  margin-inline: 40px;
}

/*channel /program container*/
.card {
  background-color: $white;
  padding: 16px 32px;
    height: 15em;
    width: 20em;
  border-radius: 4px;
  margin-top: 40px;
  align-items: center;
}

.image:nth-of-type(1) {
  display: flex;
  z-index: -1;
  width: 15em;
  height: 15em;
}
.text {
  max-width: 15em;
}
.image:nth-of-type(2) {
  display: flex;
  z-index: 9999;

  width: 5em;
  height: 5em;
  margin-top: -5em;
}
